{extend name="iframe" /}

{block name="body"}
<div class="layui-fluid">
    <form action="" method="post" class="xn_ajax layui-form">
        <input type="hidden" name="id" value="{$group_data['id']}">
        <table class="layui-table" style="margin-top: 0;">
            {foreach name="rule_data" item="v"}
            <empty name="v['_data']">
                <tr class="b-group">
                    <th>
                        <input type="checkbox" name="rule_ids[]" value="{$v['id']}" {if condition="in_array($v['id'],$group_data['rules'])"} checked="checked"{/if} lay-skin="primary" title="{$v['title']}" lay-filter="allChoose">
                    </th>
                    <td></td>
                </tr>
                <else />
                <tr class="b-group">
                    <th>
                       <input type="checkbox" name="rule_ids[]" value="{$v['id']}" {if condition="in_array($v['id'],$group_data['rules'])"} checked="checked"{/if} lay-skin="primary" title="{$v['title']}" lay-filter="allChoose">
                    </th>
                    <td class="b-child">
                        {foreach name="v['_data']" item="n"}
                        <table class="layui-table">
                            <tr class="b-group">
                                <th width="120">
                                    <input type="checkbox" name="rule_ids[]" value="{$n['id']}" {if condition="in_array($n['id'],$group_data['rules'])"} checked="checked"{/if} lay-skin="primary" title="{$n['title']}" lay-filter="allChoose">
                                </th>
                                <td>
                                    {notempty name="n['_data']"}
                                    {volist name="n['_data']" id="c"}
                                        &emsp;<input type="checkbox" name="rule_ids[]" value="{$c['id']}" {if condition="in_array($c['id'],$group_data['rules'])"} checked="checked"{/if} lay-skin="primary" title="{$c['title']}">
                                    {/volist}
                                    {/notempty}
                                </td>
                            </tr>
                        </table>
                        {/foreach}
                    </td>
                </tr>
            </empty>
            {/foreach}
            <tr>
                <th></th>
                <td>
                    <input class="layui-btn" type="submit" value="提交">
                </td>
            </tr>
        </table>
    </form>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form','jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        //点击全选, 勾选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(this).parents('.b-group').eq(0).find("input[type='checkbox']");
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
</script>
{/block}